# --- Python & Ambientes ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- Jupyter Notebook ---
.ipynb_checkpoints
*.html
*.pdf

# --- DATASET (Crucial para não travar o Git) ---
dataset/
data/
raw_data/
*.zip
*.rar
*.7z

# --- MODELOS & PESOS (Arquivos pesados) ---
*.pth
*.h5
*.onnx
*.weights
models/

# --- MÉTRICAS & LOGS ---
runs/
*.log
.coverage

# --- IDE & SISTEMA ---
.vscode/
.idea/
.DS_Store
Thumbs.db
